@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body {
  padding-top: 10px;
  padding-bottom: 40px;
}

.masthead{
	height: 150px;
	margin:0px 15px 0px 15px;
	background-image: url("../images/topo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	
}

.masthead-text{
	color: threedhighlight;
 	font-family: "Droid Sans", sans-serif;
	font-weight: 400;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

.materhead-logo{
	margin-top: 30px;
	box-shadow: 2px 2px 5px grey;
}

.materhead-logout{
	margin-top: 120px;
}
